.block-portfolio {
    height: 1220px;
    background-color: #f7f7f7;
}
.block-portfolio-name {
    height: 262px;
}
.block-column {
    width: 940px;
    height: auto;
    margin: auto;
}
.portfolio-column-image {
    width: 290px;
    height: 390px;
    background-color: #ffffff;
    margin-bottom: 50px;
}
.column-image-top-1 {
    height: 300px;
    background: url("../images/portfolio/ebony&ivory.png") no-repeat;
    background-position: -60px 0px;
}
.column-image-text {
    width: 290px;
    text-align: center;
}
.column-image-bottom-1 {
    height: 300px;
    background: url("../images/portfolio/vinyl record.png") no-repeat;
    background-position: -50px -50px;
}
.column-image-top-2 {
    height: 300px;
    background: url("../images/portfolio/smart stationary.png") no-repeat;
    background-position: -47px 0px;
}
.column-image-bottom-2 {
    height: 300px;
    background: url("../images/portfolio/treehouse template.png") no-repeat;
    background-position: -65px 0px;
}
.column-image-top-3 {
    height: 300px;
    background: url("../images/portfolio/clever poster.png") no-repeat;
    background-position: -165px 0px;
}
.column-image-bottom-3 {
    height: 300px;
    background: url("../images/portfolio/burned logo.png") no-repeat;
    background-position: -65px 0px;
}
